<?xml version="1.0" encoding="UTF-8"?>
<server description="api key rs server">
	<featureManager>
		<feature>jaxrs-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9102"
                  httpsPort="9502" />

<!-- default ssl config..
      The keystore here must have a trust key for the OP ssl certificate.
-->
<keyStore id="defaultKeyStore" password="keystore"/>

<ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" serverKeyAlias="default"/>


</server>
